$bgcolor-highlight: hsl(40, 100, 90);
$border-highlight: hsl(40, 100, 80);

td.cell {
    position: relative;
    &.holiday {
        div {
            border: 1px solid hsl(0, 10, 85);
            margin: -1px;
        }
        background-color: hsl(0, 30, 95);
    }
}

div.highlight {
    background-color: $bgcolor-highlight;
    border: 1px solid $border-highlight!important;
    margin: -1px;
}


/*tooltip CSS*/
td.cell span {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    font-size: 0.8em;
    text-align: center;
    border-radius: 3px;
    z-index: 1;
    padding: 0px 5px;
    top: -70%;
    left: 5px;
    background-color: hsl(0, 30, 85);
    opacity: 0;
    transition: opacity 0.5s;
    &::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 10px;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: hsl(0, 30, 85) transparent transparent transparent;
    }
    &.red {
        background-color: red;
        &::after {
            border-color: red transparent transparent transparent;
        }
    }
    &.green {
        background-color: green;
        &::after {
            border-color: green transparent transparent transparent;
        }
    }
}

td.cell:hover span,
input:focus+span {
    opacity: 1;
    visibility: visible;
}